body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: content-box;
    
}

.main-container {
    width: 80%;
    margin: 2% 1% 1% 2%;
}

.left-box {
    width: 20%;
    margin: 2% 1% 0 1%;
}

.main {
    display: flex;
}

/* making footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2A3F54;
    color: white;
    text-align: center;
}