.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #2A3F54;
    justify-content: space-between;
    color: white;
}
li:hover{
    color: yellow;
}
.header{
    position: sticky;
    padding: 0;
    margin: 0;
}
img{
    margin-left: 10px;
    width: 40px;
    height: auto;
    border-radius: 10px;
}
ul{
    float: right;
    display: contents;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
li{
    padding-top: 4px;
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    padding-right: 20px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-sizing: content-box;
    
}

.main-container {
    width: 80%;
    margin: 2% 1% 1% 2%;
}

.left-box {
    width: 20%;
    margin: 2% 1% 0 1%;
}

.main {
    display: flex;
}

/* making footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2A3F54;
    color: white;
    text-align: center;
}


